/* GENERAL  */

body {
  font-family: "Open Sans", sans-serif;
  color: #5a656e;
}

a {
  color: #d43076;
  text-decoration: none;
}

a:hover {
  color: #dd5a92;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
  }

/* HERO SECTION  */


#hero {
    width: 100%;
    height: 40vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../img/heroImage.png") top center;
    background-size: cover;
    padding: 0 15px;
  }
  
  #hero h1 {
    margin: 0 0 15px 0;
    font-size: 66px;
    /* font-weight: 15000; */
    line-height: 70px;
    color: #fff;
    text-shadow: 3px 3px 6px #194b74;
  }
  
  #hero h2 {
    color: rgba(255, 255, 255, 0.966);
    text-shadow: 1px 1px 2px #194b74;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
  
  #hero .btn-get-started {
    font-size: 64px;
    transition: 0.5s;
    color: #fff;
    height: 60px;
  }
  
  #hero .btn-get-started:hover {
    padding-top: 10px;
    color: #d43076;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  /* NAVBAR */
  /* .navbar {
    padding: 0;
  } */
  #header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    height: 60px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: right;
  }
  
  .navbar li {
    position: absolute right;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 18px;
    color: #2c4964;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #d43076;
  }
  
  /* FOOTER  */
  #footer {
    background: #fff;
    padding: 24px 0;
    font-size: 14px;
    box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
  }
  
  #footer .copyright {
    text-align: center;
  }

  